In [1]:
import pandas as pd

In [137]:
df = pd.read_csv("customer_shopping_behavior.csv")
df.isnull().sum()

Customer ID                   0
Age                           0
Gender                     4341
Item Purchased                0
Category                      0
Purchase Amount (USD)         0
Location                   4401
Size                       8262
Color                      8298
Season                     4428
Review Rating             19553
Subscription Status           0
Shipping Type              4299
Discount Applied              0
Promo Code Used               0
Previous Purchases            0
Payment Method             4453
Frequency of Purchases     8405
dtype: int64

In [138]:
import pandas as pd

df_raw = pd.read_csv("customer_shopping_behavior.csv")
df = df_raw.copy()

df.to_csv("customer_behavior_copy.csv", index=False)

In [139]:
df.shape
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55000 entries, 0 to 54999
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             55000 non-null  int64
 1   Age                     55000 non-null  int64
 2   Gender                  50659 non-null  object
 3   Item Purchased          55000 non-null  object
 4   Category                55000 non-null  object
 5   Purchase Amount (USD)   55000 non-null  float64
 6   Location                50599 non-null  object
 7   Size                    46738 non-null  object
 8   Color                   46702 non-null  object
 9   Season                  50572 non-null  object
 10  Review Rating           35447 non-null  float64
 11  Subscription Status     55000 non-null  object
 12  Shipping Type           50701 non-null  object
 13  Discount Applied        55000 non-null  object
 14  Promo Code Used         55000 non-null  object
 15  Previous Purchases      55000 non-null  int64
 16  Payment Method          50547 non-null  object
 17  Frequency of Purchases  46595 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 7.6+ MB

Customer ID                   0
Age                           0
Gender                     4341
Item Purchased                0
Category                      0
Purchase Amount (USD)         0
Location                   4401
Size                       8262
Color                      8298
Season                     4428
Review Rating             19553
Subscription Status           0
Shipping Type              4299
Discount Applied              0
Promo Code Used               0
Previous Purchases            0
Payment Method             4453
Frequency of Purchases     8405
dtype: int64

In [140]:
# 1. Customer identity
id_cols = [
    "Customer ID"
]

# 2. Target (what business cares about)
target_cols = [
    "Purchase Amount (USD)"
]

# 3. Customer behavior (numeric, continuous)
num_cols = [
    "Age",
    "Review Rating",
    "Previous Purchases"
]

# 4. Promotion & subscription flags (Yes/No business signals)
flag_cols = [
    "Discount Applied",
    "Promo Code Used",
    "Subscription Status"
]

# 5. Customer & product attributes (dimensions for Power BI slicing)
attribute_cols = [
    "Gender",
    "Item Purchased",
    "Category",
    "Location",
    "Size",
    "Color",
    "Season",
    "Shipping Type",
    "Payment Method",
    "Frequency of Purchases"
]

In [141]:


for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")
    df[col] = df[col].fillna(df[col].median())

In [142]:
df.isnull().sum()

Customer ID                  0
Age                          0
Gender                    4341
Item Purchased               0
Category                     0
Purchase Amount (USD)        0
Location                  4401
Size                      8262
Color                     8298
Season                    4428
Review Rating                0
Subscription Status          0
Shipping Type             4299
Discount Applied             0
Promo Code Used              0
Previous Purchases           0
Payment Method            4453
Frequency of Purchases    8405
dtype: int64

In [144]:
df[flag_cols] = df[flag_cols].fillna("No")
df.isnull().sum()

Customer ID                  0
Age                          0
Gender                    4341
Item Purchased               0
Category                     0
Purchase Amount (USD)        0
Location                  4401
Size                      8262
Color                     8298
Season                    4428
Review Rating                0
Subscription Status          0
Shipping Type             4299
Discount Applied             0
Promo Code Used              0
Previous Purchases           0
Payment Method            4453
Frequency of Purchases    8405
dtype: int64

In [145]:
df["Age"] = df["Age"].astype(int)
df["Previous Purchases"] = df["Previous Purchases"].astype(int)
df["Review Rating"] = df["Review Rating"].round(1)

In [146]:
df.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,52.73,Kentucky,L,Gray,Winter,3.0,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,65.06,Maine,L,Maroon,Winter,3.0,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73.00,Massachusetts,S,NaN,Spring,3.0,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,88.22,Rhode Island,M,Maroon,Spring,4.0,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49.00,Oregon,M,Turquoise,Spring,4.0,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20.00,Wyoming,M,White,Summer,3.0,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,84.00,Montana,M,Gray,Fall,3.0,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,33.34,Louisiana,L,Charcoal,Winter,3.0,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,98.00,NaN,L,Silver,Summer,4.0,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,30.64,Missouri,M,Pink,Spring,5.0,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [ ]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [149]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [150]:
bins = [0, 24, 34, 49, 100]
labels = ['Young', 'Young Adult', 'Adult', 'Senior']

df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels)

In [152]:
df[['age','age_group']].head(10)

   age    age_group
0   55       Senior
1   19        Young
2   50       Senior
3   21        Young
4   45        Adult
5   46        Adult
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57       Senior

In [163]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [155]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                     90.0              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                     90.0              Quarterly

In [156]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [157]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [158]:
df = df.drop('promo_code_used', axis=1)

In [173]:
# Repeat Customer (1 = repeat, 0 = first time)
df["is_repeat_customer"] = (df["previous_purchases"] > 0).astype(int)

In [175]:
def loyalty_segment(p):
    if p == 0:
        return "New"
    elif p <= 3:
        return "Occasional"
    elif p <= 10:
        return "Regular"
    else:
        return "Loyal"

df["loyalty_segment"] = df["previous_purchases"].apply(loyalty_segment)

In [177]:
df["spend_band"] = pd.cut(
    df["purchase_amount"],
    bins=[0, 50, 100, 200, 100000],
    labels=["Low", "Medium", "High", "Very High"]
)

In [182]:

df["estimated_clv"] = (
    df["purchase_amount"] *
    (df["previous_purchases"] + 1)
).round(2)

In [183]:
df["is_vip"] = ((df["estimated_clv"] > 1000) & (df["previous_purchases"] >= 5)).astype(int)

In [179]:
df["discount_used_flag"] = (df["discount_applied"] == "Yes").astype(int)

In [184]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days',
       'is_repeat_customer', 'loyalty_segment', 'spend_band',
       'discount_used_flag', 'estimated_clv', 'is_vip'],
      dtype='object')

In [185]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,...,payment_method,frequency_of_purchases,age_group,purchase_frequency_days,is_repeat_customer,loyalty_segment,spend_band,discount_used_flag,estimated_clv,is_vip
0,1,55,Male,Blouse,Clothing,52.73,Kentucky,L,Gray,Winter,...,Venmo,Fortnightly,Senior,14.0,1,Loyal,Medium,1,790.95,0
1,2,19,Male,Sweater,Clothing,65.06,Maine,L,Maroon,Winter,...,Cash,Fortnightly,Young,14.0,1,Occasional,Medium,1,195.18,0
2,3,50,Male,Jeans,Clothing,73.00,Massachusetts,S,NaN,Spring,...,Credit Card,Weekly,Senior,7.0,1,Loyal,Medium,1,1752.00,1
3,4,21,Male,Sandals,Footwear,88.22,Rhode Island,M,Maroon,Spring,...,PayPal,Weekly,Young,7.0,1,Loyal,Medium,1,4411.00,1
4,5,45,Male,Blouse,Clothing,49.00,Oregon,M,Turquoise,Spring,...,PayPal,Annually,Adult,365.0,1,Loyal,Low,1,1568.00,1

In [186]:
# After all cleaning / feature engineering is done
# (after age_group, purchase_frequency_days etc are created)

cleaned_filename = "customer_behavior_cleaned.csv"

# Save exactly what is currently in df to disk
df.to_csv(cleaned_filename, index=False)

print("Saved file:", cleaned_filename)
print("Columns saved:")
print(df.columns.tolist())
print("Rows:", len(df))

Saved file: customer_behavior_cleaned.csv
Columns saved:
['customer_id', 'age', 'gender', 'item_purchased', 'category', 'purchase_amount', 'location', 'size', 'color', 'season', 'review_rating', 'subscription_status', 'shipping_type', 'discount_applied', 'previous_purchases', 'payment_method', 'frequency_of_purchases', 'age_group', 'purchase_frequency_days', 'is_repeat_customer', 'loyalty_segment', 'spend_band', 'discount_used_flag', 'estimated_clv', 'is_vip']
Rows: 55000

In [187]:
df = pd.read_csv("customer_behavior_cleaned.csv")

In [188]:
pd.read_csv("customer_behavior_cleaned.csv").columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days',
       'is_repeat_customer', 'loyalty_segment', 'spend_band',
       'discount_used_flag', 'estimated_clv', 'is_vip'],
      dtype='object')

In [2]:
%pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\abhi1\appdata\local\programs\python\python314\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\abhi1\appdata\local\programs\python\python314\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\abhi1\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\abhi1\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:abhishek@127.0.0.1:3306/customer_behavior")

# test connection
pd.read_sql("SELECT 1", engine)

   1
0  1

In [4]:

from sqlalchemy import create_engine
import pandas as pd
# MySQL connection (tumhare real values)
username = "root"
password = "abhishek"
host = "127.0.0.1"
port = "3306"
database = "customer_behavior"

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)

# CSV load
df = pd.read_csv("customer_behavior_cleaned.csv")

# Push to MySQL
table_name = "customer_shopping"

df.to_sql(table_name, engine, if_exists="replace", index=False, chunksize=10000)

# Verify
pd.read_sql("SELECT COUNT(*) FROM customer_shopping;", engine)
pd.read_sql("SELECT * FROM customer_shopping LIMIT 5;", engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,...,payment_method,frequency_of_purchases,age_group,purchase_frequency_days,is_repeat_customer,loyalty_segment,spend_band,discount_used_flag,estimated_clv,is_vip
0,1,55,Male,Blouse,Clothing,52.73,Kentucky,L,Gray,Winter,...,Venmo,Fortnightly,Senior,14.0,1,Loyal,Medium,1,790.95,0
1,2,19,Male,Sweater,Clothing,65.06,Maine,L,Maroon,Winter,...,Cash,Fortnightly,Young,14.0,1,Occasional,Medium,1,195.18,0
2,3,50,Male,Jeans,Clothing,73.00,Massachusetts,S,None,Spring,...,Credit Card,Weekly,Senior,7.0,1,Loyal,Medium,1,1752.00,1
3,4,21,Male,Sandals,Footwear,88.22,Rhode Island,M,Maroon,Spring,...,PayPal,Weekly,Young,7.0,1,Loyal,Medium,1,4411.00,1
4,5,45,Male,Blouse,Clothing,49.00,Oregon,M,Turquoise,Spring,...,PayPal,Annually,Adult,365.0,1,Loyal,Low,1,1568.00,1

In [5]:
df = pd.read_csv("customer_behavior_cleaned.csv")

df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days',
       'is_repeat_customer', 'loyalty_segment', 'spend_band',
       'discount_used_flag', 'estimated_clv', 'is_vip'],
      dtype='object')

In [197]:
pd.read_sql("DESCRIBE customer_shopping;", engine)

                      Field    Type Null Key Default Extra
0               customer_id  bigint  YES        None
1                       age  bigint  YES        None
2                    gender    text  YES        None
3            item_purchased    text  YES        None
4                  category    text  YES        None
5           purchase_amount  double  YES        None
6                  location    text  YES        None
7                      size    text  YES        None
8                     color    text  YES        None
9                    season    text  YES        None
10            review_rating  double  YES        None
11      subscription_status    text  YES        None
12            shipping_type    text  YES        None
13         discount_applied    text  YES        None
14       previous_purchases  bigint  YES        None
15           payment_method    text  YES        None
16   frequency_of_purchases    text  YES        None
17                age_group    text  YES        None
18  purchase_frequency_days  double  YES        None
19       is_repeat_customer  bigint  YES        None
20          loyalty_segment    text  YES        None
21               spend_band    text  YES        None
22       discount_used_flag  bigint  YES        None
23            estimated_clv  double  YES        None
24                   is_vip  bigint  YES        None